nbproject/
nbproject/*
*.log
.DS_Store
.idea/
.idea/*
vendor
vendor/*
composer.lock
composer.phar
phpunit.xml

!src/*
!tests/*

/src/_errorlog/*.log
/src/config/configValue/dev.php
/src/config/configValue/prod.php
/src/config/configValue/staging.php
