
body{
    font-family:  Arial;
}

.backgroundGrey{
    background: #F3F3F4;
}
.backgroundWhite{
    background: #FFF;
}
.uppercase{
    text-transform: uppercase;
}
.bigBorder{
    border-top: 7px solid #B2B2B2;
    border-bottom: 7px solid #B2B2B2;
}
.greenColor{
    color: #33932C;
}
.greenBorder{
    border: 3px solid #33932C;
}
.redColor{
    color: #D01D33;
}
.img-center{
    margin-left: auto;
    margin-right: auto;
}
.center{
    text-align: center;
}
.fontSize16{
    font-size: 16px;
}
.fontSize18{
    font-size: 18px;
}
.fontSize25{
    font-size: 25px;
}
.paddingLeft{
    padding-left: 22px;
}
.lineHeight45{
    line-height: 45px;
}
.letterSpacing{
    letter-spacing: 0.25em;
}
.noPaddingLeft{
    padding-left: 0;
}
.noPadding{
    padding: 0;
}
.pointer{
    cursor: pointer;
}
#message{
    padding-bottom: 10px;
}
input, select{
    background: #EDEDED;
    font-size: 20px;
    border: 1px solid #ADADAD;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
select{ 
    border-radius: 0;
}
.button{
    background: #CFCFCF;
    border: 1px solid #000;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
